modified_soap_wsdls/cwhdeliveryreadbpel_client_ep.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.concor.com/cil/DeliveryRead/1.0/" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.concor.com/cil/DeliveryRead/1.0/" xmlns="http://www.concor.com/cil/DeliveryRead/1.0/">
  <xsd:element name="DeliveryRead" type="DeliveryReadType"/>
  <xsd:complexType name="DeliveryReadType">
    <xsd:sequence>
      <xsd:element name="gpm_number" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>