modified_soap_wsdls/cwhstuffingreadbpel_client_ep.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.concor.com/cil/StuffRead/1.0/" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.concor.com/cil/StuffRead/1.0/" xmlns="http://www.concor.com/cil/StuffRead/1.0/">
  <xsd:element name="StuffRead" type="StuffReadType"/>
  <xsd:complexType name="StuffReadType">
    <xsd:sequence>
      <xsd:element name="container_number" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>